[submodule "Parse-SDK-iOS-OSX"]
	path = Parse-SDK-iOS-OSX
	url = https://github.com/flovilmart/Parse-SDK-iOS-OSX.git
[submodule "ParseFacebookUtils-iOS"]
	path = ParseFacebookUtils-iOS
	url = https://github.com/ParsePlatform/ParseFacebookUtils-iOS.git
[submodule "ParseTwitterUtils-iOS"]
	path = ParseTwitterUtils-iOS
	url = https://github.com/ParsePlatform/ParseTwitterUtils-iOS.git
[submodule "facebook-ios-sdk"]
	path = facebook-ios-sdk
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "ParseUI-iOS"]
	path = ParseUI-iOS
	url = https://github.com/ParsePlatform/ParseUI-iOS.git
