DEFINES_MODULE[sdk=iphoneos*]              = YES
DEFINES_MODULE[sdk=iphonesimulator*]              = YES

IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*]   = 8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*]   = 8.0

ARCHS[sdk=iphoneos*]                       = arm64 armv7 armv7s
ARCHS[sdk=iphonesimulator*]                       = i386 x86_64

DYLIB_INSTALL_NAME_BASE[sdk=iphoneos*]        = @rpath
DYLIB_INSTALL_NAME_BASE[sdk=iphonesimulator*]  = @rpath

LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*]            = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*]     = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'

MACH_O_TYPE[sdk=iphoneos*]                         = mh_dylib
MACH_O_TYPE[sdk=iphonesimulator*]                  = mh_dylib

SUPPORTED_PLATFORMS[sdk=iphoneos*]              		= iphonesimulator iphoneos
SUPPORTED_PLATFORMS[sdk=iphonesimulator*]       		= iphonesimulator iphoneos

OTHER_LDFLAGS[sdk=iphoneos*] 							  = $(inherited) -dynamiclib -lsqlite3 -weak_framework UIKit -weak_framework CoreGraphics -weak_framework SystemConfiguration -weak_framework AudioToolbox

OTHER_LDFLAGS[sdk=iphonesimulator*]							  = $(inherited) -dynamiclib -lsqlite3 -weak_framework UIKit -weak_framework CoreGraphics -weak_framework SystemConfiguration -weak_framework AudioToolbox

ONLY_ACTIVE_ARCH[sdk=iphoneos*]       						= NO
ONLY_ACTIVE_ARCH[sdk=iphonesimulator*]						= NO



CLANG_MODULES_AUTOLINK[sdk=iphoneos*]                       = YES
CLANG_MODULES_AUTOLINK[sdk=iphonesimulator*]                = YES

ENABLE_BITCODE[sdk=iphoneos*]         = YES
ENABLE_BITCODE[sdk=iphonesimulator*]  = YES

VALID_ARCHS[sdk=iphonesimulator*]     = i386 x86_64
VALID_ARCHS[sdk=iphoneos*]            = arm64 armv7 armv7s
GCC_TREAT_WARNINGS_AS_ERRORS          = NO

CODE_SIGN_IDENTITY          =
